$color: violet;
$bg-color: black;

nav {
    transition: width 333ms;
    background-color: $bg-color;
    width: 5rem;
    height: 100vh;
    position: fixed;
    filter: brightness(70%);
    z-index: 10000;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    li {
        width: 100%;
    }

    a {
        display: flex;
        align-items: center;
        height: 5rem;
        color: $color;
        border-color: $color;
        filter: brightness(80%);
        border-style: none;
        border-width: 6px;

        &:hover {
            filter: brightness(100%);
            background-color: white;
            border-left-style: solid;

            font-size: 1.4rem;
            i {
                font-size: 2rem;
            }
            i, span {
                filter: drop-shadow(8px 8px 1px rgba(0, 0, 0, .1));
            }
        }

        span {
            font-size: 0.001rem;
            margin-left: 1rem;
            opacity: 0;
        }

        i {
            transition: 333ms;
            min-width: 2rem;
            margin: 0 1.5rem;
        }
    }

    &:hover {
        width: 12rem;
        filter: brightness(100%);

        li {
            a {
                span {
                    font-size: 0.8rem;
                    opacity: 1;
                    transition: font-size 333ms;
                }
            }
        }
    }
}