<oni-asf-form [uiOptions]="formConfig" [data]="formData" (valueChange)="valueChange$$.next($event)"></oni-asf-form>
<h1>
    <button mat-button color="primary" (click)="nav$$.next('')"><mat-icon>home</mat-icon></button>
  {{s3Prefix}}{{(key$ | async)}}</h1>
<div>

    <div *ngFor="let i of (s$|async)?.app?.localstack?.results">
        <button mat-button (click)="nav$$.next(i)">{{i}}</button>
    </div>

    <hr>

    <small>
        {{(s$|async)?.app?.localstackPwd|json}}
        {{(s$|async)?.app?.localstack|json}}
    </small>
</div>
